
/* Some Common Classes */

h1{
    font-family: 'Oswald', sans-serif;
}

.text-navyblue{
    color:#000249;
}

.btn-buy-now{
    background-color: rgb(31, 172, 92);
    border-radius: 10px;
    color: white;
}

.btn-buy-now:hover{
    background:linear-gradient(45deg,#48ff00,#00ffd5);;
    color: white;
    font-weight: bold;
}


/* Header */

header{
    background-color: #fceae8;
}


nav li{
    padding-left: 50px;
}

nav li a{
    font-weight: bolder;
}

.top-heading{
    font-weight: 700;
    font-size: 3.15rem;
}

/* Product */

.jacket-card{
    border: 0;
    border-radius: 10px;
}

.card-img img{
    height: 280px;
}

.card-img{
    background-color: whitesmoke;
    margin:20px 0 20px 20px;
    width: 90%;
    border-radius: 10px;
    border: 0;
    padding: 20px;
}

.card-footer{
    border: 0;
    background-color: white;
    
}

.jacket-card::before{
    content: '';
    background: linear-gradient(45deg,#ff0000,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,#ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    -webkit-background-size:500%;
    background-size: 500%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: animate 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease;

    background-color: black;
    color: white;
}
.jacket-card:hover:before{
    opacity: 1;

}

.jacket-card:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;left: 0;
    top: 0;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    
    
    100%{
        background-position: 0 0;
    }
}

/* About */

.about-contact img{
    width: 70px;
    margin-right: 45px;
    border-radius: 10px;
    position: relative;
    top: -20px;
}

/* Form */

form i{
    font-size: 3.5rem;
}

/* Footer */

footer i{
    font-size: 2rem;
}